<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->


    <meta property="og:site_name" content="HMJ SEP" /> <!-- website name -->
    <meta property="og:title" content="Website HMJ SEP" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Webiste ini merupakan website dari Himpunan Mahasiswa Jurusan Sosial Ekonomi Perikanan" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" /> <!-- image link, make sure it's jpg -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>HMJ SEP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/assets/css/swiper.css" rel="stylesheet">
    <link href="../static/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="../static/assets/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="../static/logo.png">
    <style>
        .test {
            box-shadow: 6px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            width: 75%;

        }
        .bold {
            font-weight: 600;
            color: #393939;

        }
    </style>
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" style="color:azure">HMJ SEP</a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/#header">PROFIL <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/#details">TENTANG KAMI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/#features">VISI MISI</a>
                    </li>
                    <!-- Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#video" id="navbarDropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">PROGRAM KERJA</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/kestari"><span class="item-text">Dinas Kesekretariatan
                                    (KESTARI)</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/kominfo"><span class="item-text">Dinas Komunikasi dan Informasi (KOMINFO)</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/kaderisasi"><span class="item-text">Dinas Kaderisasi</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/senor"><span class="item-text">Dinas Seni dan Olahraga (SENOR)</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/latbang"><span class="item-text">Dinas Latihan dan Pengembangan (LATBANG)</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/advokasi"><span class="item-text">Dinas Advokasi Pergerakan Mahasiswa </span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/sosmas"><span class="item-text">Dinas Sosial Masyarakat (SOSMAS)</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/danus"><span class="item-text">Dinas Dana dan Usaha (DANUS) </span></a>
                        </div>
                    </li>
                    <!-- end of dropdown menu -->

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/kepengurusan">KEPENGURUSAN</a>
                    </li>



                </ul>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->



<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Dinas Komunikasi dan Informasi (KOMINFO)</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="/">Home</a><i class="fa fa-angle-double-right"></i><span>Dinas Komunikasi dan Informasi (KOMINFO)</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3 style="color: #393939;">Dinas Komunikasi dan Informasi (KOMINFO)</h3>
                    <p>Dinas Komunikasi dan Informasi yang berada dalam struktur kepengurusan HMJ SEP merupakan dinas yang bertugas mengelola media dengan desain ataupun video yang bertujuan menunjang serta memperkuat basis data, informasi, serta wacana seputar isu - isu terkini dan prediksi isu-isu yang akan datang. 
                    </p>
                    <h5 style="font-weight: bold;">Program Kerja:</h5>
                    <ol>
                        <div class="mb-2">
                            <li class="bold">Publikasi Dokumentasi dan Informasi</li>
                            <span>
                                Tujuan utama mempublikasikan dokumentasi dan memberikan informasi kepada seluruh ruang lingkup FPK terutama Jurusan Sosial Ekonomi Perikanan mengenai info-info terupdate.
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Desain</li>
                            <span>
                                Program kerja desain merupakan pembuatan segala kebutuhan desain berupa poster, video, spanduk, sertifikat, dan plakat kepada setiap dinas yang membutuhkannya untuk program kerja yang akan dilaksanakan.
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Pembuatan Majalah Dinding HMJ SEP</li>
                            <span>
                                Pembuatan Majalah Dinding (Mading) ini memiliki tujuan sebagai sarana untuk mengetahui informasi baik dari program kerja yang telah terlaksana maupun informasi lainnya. Mading yang dibuat selama 1 Periode tahun 2022-2023. Sasaran dari program kerja ini yaitu untuk seluruh mahasiswa FPK, mahasiswa non-FPK, dan umum.
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Konten Youtube</li>
                            <span>
                                Konten youtube merupakan pembuatan dan penguploadtan video yang berisi tentang beberapa cuplikan program kerja yang telah terlaksana. Target pembuatan video ini ditujukan secara umum.
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Situs web</li>
                            <span>
                                Program kerja berupa pembuatan website Himpunan Mahasiswa Jurusan Sosial Ekonomi Perikanan yang bertujuan untuk memberikan berbagai informasi seputar HMJ SEP. 
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Mitra Media</li>
                            <span>
                                Media partner menjadi wadah untuk mengembangkan serta menjaga citra positif HMJ SEP melalui hubungan kerja sama baik dengan pihak internal maupun eksternal.
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Jurnalistik</li>
                            <span>
                                Jurnalistik ini berupa ekspos salah satu program kerja yang ada di HMJ SEP. Ekspos kegiatan dipublikasikan dalam bentuk berita online/ maupun media cetak seperti koran.
                            </span>
                        </div>
                        <div class="mb-2">
                            <li class="bold">Pembuatan Video Pengenalan Profile Jurusan SEP FPK UNRI</li>
                            <span>
                                Pembuatan video pengenalan profile jurusan SEP FPK UNRI ini berisi informasi penting mengenai jurusan SEP yang ada di Fakultas Perikanan dan Kelautan Universitas Riau. Target pembuatan video ini ditujukan kepada calon mahasiswa baru dan mahasiswa yang masih belum mengenal Jurusan Sosial Ekonomi Perikanan secara keseluruhan.
                            </span>
                        </div>



                    </ol>
                </div> <!-- end of text-container -->



            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
<!-- end of terms content -->





<!-- Footer -->
<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    viewBox="0 0 1920 79">
    <defs>
        <style>
            .cls-2 {
                fill: #5f4def;
            }
        </style>
    </defs>
    <title>footer-frame</title>
    <path class="cls-2"
        d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z"
        transform="translate(0 -0.188)" />
</svg>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-col first">
                    <h4>HMJ SEP</h4>
                    <p class="p-small">Himpunan Mahasiswa Jurusan Sosial Ekonomi Perikanan</p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-4">
                <!-- <div class="footer-col middle">
                     <h4>Temui Kami di</h4>
                     <ul class="list-unstyled li-space-lg p-small">
                         <li class="media">
                             <i class="fas fa-square"></i>
                             <div class="media-body">Our business partners <a class="white" href="#your-link">startupguide.com</a></div>
                         </li>
                         <li class="media">
                             <i class="fas fa-square"></i>
                             <div class="media-body">Read our <a class="white" href="terms-conditions.html">Terms & Conditions</a>, <a class="white" href="privacy-policy.html">Privacy Policy</a></div>
                         </li>
                     </ul>
                 </div> -->
            </div> <!-- end of col -->
            <div class="col-md-4">
                <div class="footer-col last">
                    <h4>Contact</h4>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li class="media">
                            <i class="fas fa-envelope"></i>
                            <div class="media-body"><a class="white"
                                    href="mailto:unri.hmjsep@gmail.com">unri.hmjsep@gmail.com</a> </div>
                        </li>
                        <li class="media">
                            <i class="bi bi-instagram"></i>
                            <div class="media-body"><i class="bi bi-twitter"
                                    style="margin-left: 2px; margin-right:2px;"> </i>hmjsep.unri</div>
                        </li>
                        <li class="media">
                            <i class="bi bi-youtube"></i>
                            <div class="media-body"><a class="white">HMJ SEP UNRI</a> </div>
                        </li>

                    </ul>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->





<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../static/assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../static/assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../static/assets/js/jquery.easing.min.js"></script>
<!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../static/assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../static/assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../static/assets/js/validator.min.js"></script>
<!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../static/assets/js/scripts.js"></script> <!-- Custom scripts -->
</body>

</html>